@import "~bootstrap/dist/css/bootstrap.min.css";

.card {
  height: 25em;
}
.card-header {
  border-bottom: none;
  font-size: 3em;
}
.card-footer {
  border-top: none;
  font-size: 3em;
  transform: rotate(180deg);
}
.container {
  width: 300px;
}
.card-number {
  font-size: 5em;
}
